/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


// Layers
#define L0 0
#define L1 1
#define L2 2
#define L3 3


&mt {
	flavor = "balanced";
	tapping_term_ms = <200>;
};

/ {
	combos {
		compatible = "zmk,combos";
	};

	chosen {
		zephyr,console = &cdc_acm_uart;
	};

	keymap {
		compatible = "zmk,keymap";

		layer_0 {
			bindings = <
			&kp Q			&kp W			&kp E			&kp R			&kp T				&kp Y			&kp U			&kp I			&kp O			&kp P
			&mt LSHFT A		&mt LALT S		&mt LCTRL D		&mt LCMD F		&kp G				&kp H			&mt RCMD J		&mt RCTRL K		&mt RALT L		&mt RSHFT SEMICOLON
			&kp Z			&kp X			&kp C			&kp V			&kp B				&kp N			&kp M			&kp COMMA		&kp PERIOD		&kp SLASH
															&lt L2 SPACE	&kp BACKSPACE		&lt L3 ENTER	&mo L1
			>;
		};

		layer_1 {
			bindings = <
			&kp ESC			&none			&kp LBKT		&kp RBKT		&kp TAB				&kp AT			&kp DQT			&kp UNDERSCORE	&kp CARET		&kp DEL
			&kp HASH		&kp DOLLAR		&kp LPAR		&kp RPAR		&kp COLON			&kp PERCENT		&mt RCMD APOS	&mt RCTRL MINUS	&mt RALT EQUAL	&mt RSHFT BACKSLASH
			&kp AMPS		&kp PIPE		&kp LBRC		&kp RBRC		&kp GRAVE			&kp EXCLAMATION	&kp PLUS		&kp TILDE		&kp STAR		&kp BACKSLASH
															&trans			&trans				&trans			&trans
			>;
		};

		layer_2 {
			bindings = <
			&kp ESC			&none			&none			&none			&none				&kp PAGE_UP		&kp RG(LEFT)	&kp UP			&kp RG(RIGHT)	&none
			&mt LSHFT N1	&mt LALT N2		&mt LCTRL N3	&mt LCMD N4		&kp N5				&kp PAGE_DOWN	&kp LEFT		&kp DOWN		&kp RIGHT		&kp CAPSLOCK
			&kp N6			&kp N7			&kp N8			&kp N9			&kp N0				&none			&kp RG(LBKT)	&none			&kp RG(RBKT)	&none
															&trans			&trans				&mt RALT RG(ENTER) &trans
			>;
		};

		layer_3 {
			bindings = <
			&kp ESC			&none			&none			&bt BT_CLR		&bt BT_NXT			&kp RG(PLUS)	&kp C_VOL_UP	&kp C_BRI_UP	&none			&none
			&kp F1			&kp F2			&kp F3			&kp F4			&kp F5				&kp RG(MINUS)	&kp C_VOL_DN	&kp C_BRI_DN	&none			&none
			&kp F6			&kp F7			&kp F8			&kp F9			&kp F10				&none			&none			&none			&none			&kp RG(RC(Q))
															&trans			&kp LA(BACKSPACE)	&trans			&trans
			>;
		};
	};
};

// Allow USB logging
&usbd {
	status = "okay";
	cdc_acm_uart: cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};
